---
---
<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 animate-astro-glow">
  <title>Astro</title>
  <path d="M12.002 2.004c-.31 0-.59.19-.7.48l-2.2 5.7-5.7.2c-.3 0-.56.19-.66.48-.1.29 0 .6.23.8l4.6 3.8-1.7 5.6c-.09.29.01.6.25.78.25.18.58.18.82.01l4.36-3.13 4.36 3.13c.24.17.57.17.82-.01.24-.18.34-.49.25-.78l-1.7-5.6 4.6-3.8c.23-.2.33-.51.23-.8-.1-.29-.36-.48-.66-.48l-5.7-.2-2.2-5.7a.75.75 0 0 0-.7-.48zm0 2.2l1.7 4.4c.11.29.39.48.7.48l4.4.15-3.5 2.9c-.24.2-.34.51-.25.8l1.3 4.2-3.6-2.6a.75.75 0 0 0-.88 0l-3.6 2.6 1.3-4.2c.09-.29-.01-.6-.25-.8l-3.5-2.9 4.4-.15c.31 0 .59-.19.7-.48l1.7-4.4z" fill="#BC52EE"/>
</svg>
<style>
  .animate-astro-glow { animation: astroGlow 2s infinite alternate; }
  @keyframes astroGlow {
    0% { filter: drop-shadow(0 0 0 #BC52EE); }
    100% { filter: drop-shadow(0 0 12px #BC52EE); }
  }
</style>
