---
---
<svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 animate-node-bounce">
  <title>Node.js</title>
  <path d="M12 24c-.6 0-1.2-.16-1.7-.46l-2.1-1.23c-.8-.47-.4-.64-.14-.74.1-.04.2-.08.3-.12.13-.05.26-.1.4-.16.2-.08.4-.02.57.08l2.1 1.23c.2.12.5.12.7 0l8.2-4.73c.2-.12.3-.33.3-.56V6.95c0-.23-.12-.44-.32-.56l-8.2-4.73a.65.65 0 0 0-.7 0l-8.2 4.73a.65.65 0 0 0-.32.56v9.47c0 .23.12.44.32.56l2.25 1.3c1.22.6 1.97-.1 1.97-.76V7.7c0-.3.24-.54.54-.54h.87c.3 0 .54.24.54.54v9.1c0 1.58-.86 2.5-2.36 2.5-.46 0-.82 0-1.83-.5l-2.15-1.24A2.1 2.1 0 0 1 0 16.42V6.95c0-.74.4-1.43 1.05-1.8L9.25.42a2.1 2.1 0 0 1 2.1 0l8.2 4.73c.65.37 1.05 1.06 1.05 1.8v9.47c0 .74-.4 1.43-1.05 1.8l-8.2 4.73c-.3.17-.7.26-1.1.26zm-3.3-7.6c-2.1 0-2.5-.96-2.5-1.77 0-.3.24-.54.54-.54h.87c.3 0 .44.13.54.38.18.38.62.56 1.1.56.67 0 1.1-.26 1.1-.7 0-.28-.11-.48-1.3-.74-1-.22-2.3-.7-2.3-2.04 0-1.36 1.1-2.17 2.9-2.17 1.3 0 2.1.28 2.5.9.1.14.13.32.07.48a.54.54 0 0 1-.5.36h-.87c-.2 0-.38-.1-.48-.26-.13-.2-.4-.28-.8-.28-.5 0-.9.18-.9.6 0 .25.1.4 1.3.7 1.1.28 2.3.7 2.3 2.1 0 1.45-1.2 2.2-3 2.2zm7.7-.13c-.4 0-.8-.1-1.1-.3-.2-.1-.3-.3-.2-.5l.2-.6c.1-.3.3-.3.5-.2.3.2.6.3 1 .3.4 0 .7-.2.7-.5 0-.2-.1-.4-.8-.5-.8-.2-1.7-.5-1.7-1.5 0-.8.6-1.5 2-1.5.6 0 1.2.1 1.6.3.2.1.3.3.2.5l-.2.6c-.1.3-.3.3-.5.2-.3-.1-.6-.2-.9-.2-.4 0-.6.1-.6.4 0 .2.1.3.7.5.9.2 1.8.5 1.8 1.5 0 .9-.7 1.6-2.1 1.6z" fill="#393"/>
</svg>
<style>
  .animate-node-bounce { animation: nodeBounce 1.8s cubic-bezier(.68,-0.55,.27,1.55) infinite; }
  @keyframes nodeBounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
</style>
