---
import Section from "./Section.astro";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, name } = Astro.props;
---

<Section text="Sobre mi" href="about">
  <div class="flex gap-12 md:gap-8 flex-col items-center md:flex-row">
    <div class="text-neutral w-auto text-base md:pr-5 animate-fade-in whitespace-pre-line">
      {description}
    </div>
    <div
      class="w-64 h-80 bg-white p-4 flex-shrink-0 rotate-[5deg] md:rotate-[7deg] animate-fade-in"
    >
      <img
        class="object-cover rounded-lg shadow-lg"
        src="/pablo-small.png"
        width="260"
        height="260"
        alt={name}
        loading="lazy"
        decoding="async"
      />
    </div>
  </div>
</Section>
