---
/**
 * Footer con props traducibles
 */
interface Props {
  author: string;
}

const { author } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="text-cream/70 w-full text-center pb-8 pt-5 px-5 border-t border-primary/10"
  transition:animate="none"
>
  <p class="text-xs font-light tracking-widest text-cream/70">
    {author} © {currentYear}
  </p>
</footer>
