---
import type { HeroProps } from "@types";
import Logo from "@components/Logo.astro";
type Props = HeroProps;

const { name, specialty, summary } = Astro.props;
---

<div class="min-h-screen flex flex-col items-center justify-center py-20 bg-gradient-to-b from-primary/10 to-primary/5 animate-fade-in">
  <Logo name={name} />
  
  <div class="text-center mt-12 animate-slide-up">
    <p
      class="text-4xl sm:text-5xl leading-[46px] md:text-6xl font-serif text-primary font-bold tracking-tighter mb-9"
    >
      {specialty}
    </p>
    <p class="text-neutral font-normal text-base md:text-lg pb-12">
      {summary}
    </p>
  </div>
</div>
